<!-- <h1>Component Creation Hook</h1>
<button (click)="updatedValue()">updatae</button>
<app-ngonchanges [inputValue]="inputValue"></app-ngonchanges> -->
<!-- <app-oninit></app-oninit> -->

<!-- <h1>Component Updation Hook</h1>
<div>
  <app-ngdocheck [user]="user"></app-ngdocheck>
  <button (click)="updateUser()">Update User</button>
</div> -->

<h1>Component Updation Hooks</h1>
<div>
    <h2>Parent component</h2>
    <button (click)="sendDataToChild()">Generate Number</button>
    <app-ngaftercontentinit> <h3>{{dataFromParert}}</h3></app-ngaftercontentinit>
</div>
